#root {
    --bg-color: white;
    --text-color: black;
}

.games-list-container {
    width: 1200px;
    text-align: left;
}

.game-search-box {
    width:600px;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}

/* dark theme */
[data-theme='dark'] {
    --bg-color: black;
    --text-color: white;
}

/* usage in other CSS rules */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}