#root {
    --bg-color: white;
    --text-color: black;
}

/* Login form CSS style*/

.card-title{
    text-align: center;
    font-size: 2.5rem;
    color: dodgerblue;
    margin-bottom: 30px;
}

.form-group{
    margin-top: 5px;
}

.login-button {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.toggle-button {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}


/* dark theme */
[data-theme='dark'] {
    --bg-color: black;
    --text-color: white;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}